*.aux
*.swp
/*.pdf
*.doc
*.doc*
*.ppt
*.ppt*
*.bak
*.dvi
*~
*.log
*.bbl
*.blg
*.log
*.out
*.ps
*.thm
*.toc
*.toe
*.lof
*.lot 
*.loa
*.aen
*.html
*.css
*.scm
*.hlog
_region_.tex
*.fen
*.ten
./body/auto
./reference/auto
./setup/auto
./preface/auto
*.prv
